@font-face {
    font-family: plateFont;
    src: url(plateFont.ttf);
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

body{
    height: 100vh;
}

#outer{
}

#content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    flex-direction: column;
    margin: 10px;
}

input, button{
    font-size: 1.5rem;
    border-radius: 0;

    border-width: 2px;
    border-style: solid;
    
    padding: 10px;

    margin: 5px;
    border-color: grey;

}

ul, li {
    text-align: initial;
}

a:link, a:visited, a:hover, a:active {
    color: black;
}

@media screen and (min-aspect-ratio: 1/1) {

}

#scoreCount {
    position: fixed;
    padding: 10px;
    margin: 5px;
    left: 0;
    top: 0;
    background-color: black;
    z-index: 99;
    border: 1px solid white;
}

.hidden {
    display: none;
}

.good {
    color: green;
}

.bad {
    color: red;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;    
    }
    
    a:link, a:visited, a:hover, a:active {
        color: white;
    }
}
